* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    }

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
}

.goback button {
    position: absolute;
    top: 10px;  
    left: 10px;    
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    background-color: #121e89;
    cursor: pointer;
    transition: all 0.3s ease;
    padding:  8px 15px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    border: none;
}

.goback button:hover {
    background-color: #1c2fc0;
}

.container {
    position: relative;
    max-width: 370px;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.container img {
    width: 150px;
    vertical-align: middle;
    margin-left: 85px;
}

.container header {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.container form {
    margin-top: 30px;
}

form .field {
    margin-bottom: 20px;
}

form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
}

.input-field input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0 15px;
    border: 1px solid #d1d1d1;
}

.invalid input {
    border-color: #d93025;
}

.input-field .show-hide {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #919191;
    cursor: pointer;
    padding: 3px;
}

.field .error {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #d93025;
    font-size: 13px;
    display: none;
}

.invalid .error {
    display: flex;
}

.error .error-icon {
    margin-right: 6px;
    font-size: 15px;
}

.create-password .error {
    align-items: flex-start;
}

.create-password .error-icon {
    margin-top: 4px;
}

.button {
    margin: 25px 0 6px;
}

.button input {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background-color: #121e89;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #1c2fc0;
}

.toggle-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.toggle-link a {
    color: #121e89;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    cursor: pointer;
}

.toggle-link a:hover {
    color: #1c2fc0;
    text-decoration: underline;
}