body {
    margin: 0;
    font-family: 'Montserrat';
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px;
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.navbar-left img {
    height: 60px;
    margin-right: 10px;
}

.navbar-left h1 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.navbar-right {
    display: flex;
    gap: 70px;
    margin-left: auto;
    padding-right: 20px;
}

.navbar-links {
    display: flex;
    gap: 70px;
    margin-left: auto;
}

.navbar-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bolder;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #007BFF;
}

.login .btn {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #121e89;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.login .btn:hover {
    background-color: #1c2fc0;
}

.search {
    background-image: url('img/PristinaCityCenter.jpg') ;
    height: 800px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}

.search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 350px 20px;
}

.search h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bolder;
    text-decoration: solid;
    letter-spacing: 0.5px;
}

.search input {
    padding: 10px;
    width: 800px;
    height: 40px;
    border: none;
    border-radius: 50px;
    text-align: left;
    font-size: 20px;
    padding-left: 30px;
    font-family: 'Montserrat';
}

.search-box button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 25px;
    color: #121e89;
}

.box {
    position: relative;
    display: inline-block;
}

